h2 {
  text-align: center;
}

/*header differs from index for some reason*/
header {
  margin-top: 13px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  margin: 50px 250px;
}

.about-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-images img {
  width: 200px;
  margin: 0 20px 0 20px;
}

@media (max-width: 1000px) {
  .mainContainer {
    margin: 50px 70px;
  }

  .about-text {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  .about-images img {
    width: 150px;
  }

  .nav-container div {
    margin: 70px 100px;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .navbar-links.active {
    top: 0.7rem;
    left: -3.5rem;
  }
  /*fixed values for the hamb menu and logo for about and detailed.html*/
  .toggle-button {
    top: 2.95rem;
    left: 13rem;
  }

  .logo {
    left: 5rem;
    top: 2.32rem;
  }

  .mainContainer {
    margin: -12px 70px;
  }

  .about-images {
    margin: 20px;
  }
}
