html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}

main {
  flex-grow: 1;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: fixed; apply in mq? */
  background-color: #ffffff;
  min-height: 50px;
  width: 100%;
  z-index: 1;
  margin-top: 30px;
}

header a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #ffffff;
  font-size: 0.85rem;
}

li {
  list-style: none;
  margin: auto 10px;
}

/* nav */

.navbar-links li a {
  text-decoration: none;
  display: block;
  margin: 1rem;
}

.navbar-links ul {
  display: flex;
  padding: 0;
}

.nav-container {
  display: flex;
  align-items: center; /* Vertically center align items */
  justify-content: space-evenly;
}

.nav-container div {
  margin: 0 20px;
}

.navbar-links li:hover {
  background-color: rgb(223, 223, 223);
  border-radius: 5px;
}

.logo {
  width: 70px;
}

/* Hamburger menu */
/* Source: https://www.youtube.com/watch?v=At4B7A4GOPg&ab_channel=WebDevSimplified  */
.toggle-button {
  position: absolute;
  top: 0.3rem;
  left: 8rem;
  display: none; /*Hides in big viewports*/
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}
/**/

.blackLine {
  background-color: black;
  padding: 1px;
  width: 100%;
  position: absolute;
  top: 95px;
}

.current {
  text-decoration: underline;
}

.error {
  color: red;
  border-color: red;
  background: rgba(255, 0, 0, 0.1);
  margin-top: 250px;
  font-size: 0.6em;
}

/* Loading class */
#loading {
  justify-content: center;
  display: flex;
  margin-top: 100px;
  color: white;
  font-size: 2em;
  /**/
  align-items: center;
  height: 70%;
}
#loading p {
  margin: 0;
}

#loading:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: #007bff;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* mq */
/* tablet */
@media (max-width: 1000px) {
  .logo {
    width: 50px;
  }

  .nav-container div a {
    font-size: 0.75rem;
  }

  h2,
  h3 {
    font-size: 0.95rem;
    color: #000;
  }

  footer {
    font-size: 0.65rem;
  }

  .blackLine {
    padding: 0.8px;
    top: 90px;
  }
}

@media (max-width: 500px) {
  /* Hamburger */
  .toggle-button {
    display: flex;
  }

  .nav-container {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  .nav-container div {
    /* margin: 70px 100px; */
    background-color: rgba(255, 255, 255, 0.9);
  }

  .nav-container ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links.active {
    display: flex;
    backdrop-filter: blur(3px);
    border: 1px solid black;
    z-index: 2;
    width: 200px;
    position: absolute;
    top: 2.5rem;
    left: -3.5rem;
  }

  .navbar-links.active ul {
    padding: 0;
  }
  /**/
  .logo {
    width: 40px;
    position: absolute; /*to fix logo getting pushed up*/
    left: 0%;
    top: -0.3rem;
  }

  .nav-container div a {
    font-size: 0.6rem;
    font-weight: 535;
  }

  h2,
  h3 {
    font-size: 0.75rem;
  }

  footer {
    font-size: 0.55rem;
  }

  .blackLine {
    padding: 0.5px;
    display: block;
    top: 90px;
  }
}
