/* General */
.main-container {
  display: flex;
  flex-direction: column;
}

.upperMain {
  display: flex;
  flex-direction: row;
}

.mastersHeader {
  margin: 50px auto 50px;
  text-align: center;
}

/* Buttons */
button.prev,
button.next {
  display: flex;
  font-size: 32px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #333;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

button.prev {
  position: absolute;
  left: 0;
  top: 80px;
}
button.next {
  position: absolute;
  right: 0;
  top: 80px;
}

/*Slider*/

.image-accordion {
  display: flex;
  max-width: 1100px;
  background: #fff;
  margin: 0px auto 50px;
}

.image-accordion img {
  height: 500px;
}

figure {
  flex: 1;
  margin: 0px;
  transition: 0.5s all;
  overflow: hidden;
  opacity: 0.5;
}

figure:hover {
  cursor: pointer;
}

.selected-image {
  flex: 5;
  opacity: 1;
}

/* Carousel */
.carousel-container {
  overflow: hidden;
  width: 100%;
  position: relative;
  display: flex;
  background-color: bisque;
}

.carousel {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-item {
  flex: 0 0 calc(25% - 20px); /* Adjust the width as needed */
  margin-right: 20px;
}

.carousel-item:last-child {
  margin-right: 0;
}

/* Move the buttons under the carousel */
.carousel-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust the margin as needed */
}
.carousel img {
  width: 100%;
}
